<div class="hero">
    <div class="hero-text">
        <h1>Unlock Your Winning Potential: Bet Smart, Win Big, Daily</h1>
        <p>All for Free-Welcome to the Community</p>
    </div>
</div>

<div class="welcome">
        
        <a href="/login">
            <button class="login-btn"> Login</button>
        </a>
        <a href="/signup">
            <button class="signup-btn"> Sign-up</button>
        
        </a> 
</div> 
<div class="loggedin">
    {{!-- <a href="/singlegame">
            <button class="past-btn"> Past</button>
        </a> --}} 
    
        <a href="/singlegame">
            <button class="upcoming-btn"> Upcoming</button>
        </a> 
</div>  

<script src="../public/js/homepage.js"></script>