 <div class="hero"> </div>
    <div class="btn">
        <button class="login-btn"> Login</button>
        <button class="signup-btn"> Sign-up</button>
    </div>
    <div class="loggedin">
        <button class="past-btn"> Past</button>
        <button class="upcoming-btn"> Upcoming</button>
    </div>
    