


body {
   background-color: limegreen; 
}
.header {
   display:flex;
   justify-content: center;
   margin-top: 100px;
   height: 250px;

}

.hero {
    
    background-image: url('https://media.istockphoto.com/id/467634080/photo/basketball-game.jpg?s=1024x1024&w=is&k=20&c=cq8vC-Ivy3HyL2k_jYurOQgtO-fRMDWmofpA2DL3z30=');
    background-size: cover;
    background-position: center;
    height: 75vh; /* Adjust the height as needed */
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; 
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.welcome {
    display: flex;
    justify-content: space-evenly;
    
 
}
.login-btn {
    background: rgb(35, 34, 34);
    color:limegreen;
    margin-top: 20px;
    height: 4rem;
    width: 12rem;
    font-size: 20px; 
    margin-left: 200px;
    
}
.signup-btn{
    background: rgb(35, 34, 34);
    color: limegreen;
    margin-top: 20px;
    height: 4rem;
    width: 12rem; 
    font-size: 20px; 
    margin-right: 200px;
}

.loggedin {
    display:flex;
    justify-content: space-around;
}
.past-btn {
    background: rgb(35, 34, 34);
    color:limegreen;
    margin-top: 50px;
    height: 4rem;
    width: 12rem;
    font-size: 20px; 
    margin-left: 75px;
    margin-bottom: 75px;
    
}

.upcoming-btn {
    background: rgb(35, 34, 34);
    color: limegreen;
    margin-top: 50px;
    height: 4rem;
    width: 12rem; 
    font-size: 20px; 
    margin-right: 75px;
    margin-bottom: 75px;
}